DP(set 1)
https://practice.geeksforgeeks.org/problems/coin-change2448/1

https://practice.geeksforgeeks.org/problems/0-1-knapsack-problem/0

https://practice.geeksforgeeks.org/problems/ncr1019/1

DP(set 2)
https://www.geeksforgeeks.org/permutation-coefficient/

https://www.geeksforgeeks.org/program-nth-catalan-number/

https://www.geeksforgeeks.org/matrix-chain-multiplication-dp-8/

https://practice.geeksforgeeks.org/problems/edit-distance3702/1

DP(set 3)
https://practice.geeksforgeeks.org/problems/subset-sum-problem2014/1

https://practice.geeksforgeeks.org/problems/friends-pairing-problem5425/1

https://www.geeksforgeeks.org/gold-mine-problem/

DP(set 4)
https://practice.geeksforgeeks.org/problems/painting-the-fence3727/1

https://practice.geeksforgeeks.org/problems/cutted-segments/0

https://practice.geeksforgeeks.org/problems/longest-common-subsequence/0

https://practice.geeksforgeeks.org/problems/longest-repeating-subsequence/0

DP(set 5)
https://practice.geeksforgeeks.org/problems/longest-increasing-subsequence/0

https://practice.geeksforgeeks.org/problems/maximum-sum-increasing-subsequence4749/1

https://practice.geeksforgeeks.org/problems/lcs-of-three-strings/0

DP(set 6)
https://www.geeksforgeeks.org/count-subsequences-product-less-k/

https://practice.geeksforgeeks.org/problems/longest-subsequence-such-that-difference-between-adjacents-is-one4724/1

https://www.geeksforgeeks.org/maximum-subsequence-sum-such-that-no-three-are-consecutive/

https://practice.geeksforgeeks.org/problems/egg-dropping-puzzle/0

https://practice.geeksforgeeks.org/problems/max-length-chain/1

DP(set 7)
https://practice.geeksforgeeks.org/problems/largest-square-formed-in-a-matrix/0

https://practice.geeksforgeeks.org/problems/pairs-with-specific-difference/0

https://practice.geeksforgeeks.org/problems/path-in-matrix3805/1

DP(set 8)
https://practice.geeksforgeeks.org/problems/maximum-difference-of-zeros-and-ones-in-binary-string4111/1

https://practice.geeksforgeeks.org/problems/minimum-number-of-jumps/0

https://practice.geeksforgeeks.org/problems/minimum-cost-to-fill-given-weight-in-a-bag1956/1

https://www.geeksforgeeks.org/minimum-removals-array-make-max-min-k/

DP(set 9)
https://practice.geeksforgeeks.org/problems/longest-common-substring/0

https://practice.geeksforgeeks.org/problems/reach-a-given-score/0

https://practice.geeksforgeeks.org/problems/bbt-counter/0

https://practice.geeksforgeeks.org/problems/kadanes-algorithm/0

DP(set 10)
https://www.geeksforgeeks.org/smallest-sum-contiguous-subarray/

https://practice.geeksforgeeks.org/problems/knapsack-with-duplicate-items4201/1

https://practice.geeksforgeeks.org/problems/word-break/0

https://www.geeksforgeeks.org/largest-independent-set-problem-dp-26/

DP(set 11)
https://practice.geeksforgeeks.org/problems/mobile-numeric-keypad5456/1

https://practice.geeksforgeeks.org/problems/boolean-parenthesization/0

https://www.geeksforgeeks.org/largest-rectangular-sub-matrix-whose-sum-0/

https://www.geeksforgeeks.org/largest-area-rectangular-sub-matrix-equal-number-1s-0s/