BST(set 1)
https://www.geeksforgeeks.org/binary-search-tree-set-1-search-and-insertion/

https://leetcode.com/problems/delete-node-in-a-bst/

https://practice.geeksforgeeks.org/problems/minimum-element-in-bst/1

https://practice.geeksforgeeks.org/problems/predecessor-and-successor/1

https://practice.geeksforgeeks.org/problems/check-for-bst/1

BST(set 2)
https://practice.geeksforgeeks.org/problems/lowest-common-ancestor-in-a-bst/1

https://www.geeksforgeeks.org/construct-bst-from-given-preorder-traversa/

https://www.geeksforgeeks.org/merge-two-balanced-binary-search-trees/

https://practice.geeksforgeeks.org/problems/find-k-th-smallest-element-in-bst/1