Stacks(set 1)
https://practice.geeksforgeeks.org/problems/implement-two-stacks-in-an-array/1

https://www.geeksforgeeks.org/design-a-stack-with-find-middle-operation/

https://practice.geeksforgeeks.org/problems/parenthesis-checker/0

Stacks(set 2)
https://practice.geeksforgeeks.org/problems/reverse-a-string-using-stack/1

https://practice.geeksforgeeks.org/problems/next-larger-element/0

https://practice.geeksforgeeks.org/problems/evaluation-of-postfix-expression/0

https://www.geeksforgeeks.org/reverse-a-stack-using-recursion/