string(set 1)
https://practice.geeksforgeeks.org/problems/palindrome-string0817/1

https://www.geeksforgeeks.org/print-all-the-duplicates-in-the-input-string/

https://www.geeksforgeeks.org/a-program-to-check-if-strings-are-rotations-of-each-other/

https://practice.geeksforgeeks.org/problems/longest-palindrome-in-a-string/0

String (set 2)
https://practice.geeksforgeeks.org/problems/permutations-of-a-given-string/0

https://practice.geeksforgeeks.org/problems/word-wrap/0

https://practice.geeksforgeeks.org/problems/next-permutation/0

String (set 3)
https://practice.geeksforgeeks.org/problems/count-the-reversals0401/1

https://practice.geeksforgeeks.org/problems/word-break1352/1

https://practice.geeksforgeeks.org/problems/find-the-string-in-grid0111/1

https://www.geeksforgeeks.org/write-a-c-program-to-print-all-permutations-of-a-given-string/