Greedy
https://practice.geeksforgeeks.org/problems/n-meetings-in-one-room/0

https://practice.geeksforgeeks.org/problems/job-sequencing-problem/0

https://practice.geeksforgeeks.org/problems/coin-piles/0

https://practice.geeksforgeeks.org/problems/fractional-knapsack/0

https://www.geeksforgeeks.org/buy-maximum-stocks-stocks-can-bought-th-day/

Greedy
https://www.geeksforgeeks.org/find-maximum-meetings-in-one-room/

https://www.geeksforgeeks.org/survival/

https://www.geeksforgeeks.org/minimum-cost-cut-board-squares/

https://www.spoj.com/problems/CHOCOLA/