Heap(set 1)
https://www.geeksforgeeks.org/building-heap-from-array/

https://www.geeksforgeeks.org/heap-sort/

https://www.geeksforgeeks.org/sliding-window-maximum-maximum-of-all-subarrays-of-size-k/

https://www.geeksforgeeks.org/kth-smallestlargest-element-unsorted-array/

https://practice.geeksforgeeks.org/problems/merge-k-sorted-arrays/1

Heap(set 2)
https://practice.geeksforgeeks.org/problems/merge-k-sorted-linked-lists/1

https://practice.geeksforgeeks.org/problems/find-smallest-range-containing-elements-from-k-lists/1

https://practice.geeksforgeeks.org/problems/find-median-in-a-stream/0

https://practice.geeksforgeeks.org/problems/minimum-cost-of-ropes/0

https://www.geeksforgeeks.org/convert-min-heap-to-max-heap/