Trees(set 1)
https://practice.geeksforgeeks.org/problems/level-order-traversal/1

https://practice.geeksforgeeks.org/problems/reverse-level-order-traversal/1

https://practice.geeksforgeeks.org/problems/height-of-binary-tree/1

https://practice.geeksforgeeks.org/problems/diameter-of-binary-tree/1

https://www.geeksforgeeks.org/create-a-mirror-tree-from-the-given-binary-tree/

Trees (set 2)
https://www.techiedelight.com/inorder-tree-traversal-iterative-recursive/

https://www.techiedelight.com/preorder-tree-traversal-iterative-recursive/

https://practice.geeksforgeeks.org/problems/left-view-of-binary-tree/1

https://practice.geeksforgeeks.org/problems/right-view-of-binary-tree/1

https://practice.geeksforgeeks.org/problems/top-view-of-binary-tree/1

Trees(set 3)
https://practice.geeksforgeeks.org/problems/bottom-view-of-binary-tree/1

https://practice.geeksforgeeks.org/problems/check-for-balanced-tree/1

https://www.geeksforgeeks.org/construct-binary-tree-string-bracket-representation/

https://practice.geeksforgeeks.org/problems/binary-tree-to-dll/1

Trees(set 4)
https://practice.geeksforgeeks.org/problems/check-mirror-in-n-ary-tree/0

https://practice.geeksforgeeks.org/problems/sum-of-the-longest-bloodline-of-a-tree/1

https://www.geeksforgeeks.org/find-largest-subtree-sum-tree/

https://www.geeksforgeeks.org/maximum-sum-nodes-binary-tree-no-two-adjacent/

Trees(set 5)
https://www.geeksforgeeks.org/print-k-sum-paths-binary-tree/

https://practice.geeksforgeeks.org/problems/lowest-common-ancestor-in-a-binary-tree/1

https://practice.geeksforgeeks.org/problems/min-distance-between-two-given-nodes-of-a-binary-tree/1

https://www.geeksforgeeks.org/kth-ancestor-node-binary-tree-set-2/