Graph(set 1)

https://practice.geeksforgeeks.org/problems/bfs-traversal-of-graph/1

https://www.geeksforgeeks.org/depth-first-search-or-dfs-for-a-graph/

https://www.geeksforgeeks.org/detect-cycle-in-a-graph/

https://practice.geeksforgeeks.org/problems/detect-cycle-in-an-undirected-graph/1

Graphs(set 2)
https://practice.geeksforgeeks.org/problems/rat-in-a-maze-problem/1

https://practice.geeksforgeeks.org/problems/steps-by-knight/0

https://leetcode.com/problems/flood-fill/

Graphs(set 3)

https://leetcode.com/problems/number-of-operations-to-make-network-connected/

https://leetcode.com/problems/word-ladder/

https://www.geeksforgeeks.org/dijkstras-shortest-path-algorithm-greedy-algo-7/

Graphs(set 4)
https://practice.geeksforgeeks.org/problems/topological-sort/1

https://www.geeksforgeeks.org/minimum-time-taken-by-each-job-to-be-completed-given-by-a-directed-acyclic-graph/

https://www.geeksforgeeks.org/find-whether-it-is-possible-to-finish-all-tasks-or-not-from-given-dependencies/

https://practice.geeksforgeeks.org/problems/find-the-number-of-islands/1

Graphs(set 5)
https://practice.geeksforgeeks.org/problems/alien-dictionary/1

https://www.geeksforgeeks.org/kruskals-minimum-spanning-tree-algorithm-greedy-algo-2/

https://www.geeksforgeeks.org/prims-minimum-spanning-tree-mst-greedy-algo-5/

https://www.geeksforgeeks.org/total-number-spanning-trees-graph/

Graph(set 6)
https://www.geeksforgeeks.org/travelling-salesman-problem-set-1/

https://leetcode.com/problems/snakes-and-ladders/

https://www.geeksforgeeks.org/bridge-in-a-graph/

https://practice.geeksforgeeks.org/problems/strongly-connected-components-kosarajus-algo/1

Graphs(set 7)
https://www.geeksforgeeks.org/bipartite-graph/

https://www.geeksforgeeks.org/detect-negative-cycle-graph-bellman-ford/

https://www.geeksforgeeks.org/find-longest-path-directed-acyclic-graph/